@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">An error occurred while processing your request.</h2>
<p>
    Obviously this shouldn't happen. Please email <a href="mailto:skeet@pobox.com">skeet@pobox.com</a>
    (or the <a href="http://noda-time.googlegroups.com">Noda Time group</a>) if the problem persists.
</p>
<p>
    <!--
    Exception information: @Model.Exception
        -->
</p>

