# Version for the build. We make it clear that it's
# Appveyor as this isn't a version we expect to make
# it elsewhere...
version: 1.0.{build}-appveyor

image: Visual Studio 2017

branches:
  only:
    - master

environment:
  COVERALLS_REPO_TOKEN:
    secure: 0MrjEwujECMnIaBkI76fNmCpKy5jr9rZx0rAFOM+41frhVfy2r0ldzzoFC4bvGig

# Perform the build.
build_script:
  - dotnet --info
  - bash build/appveyor.sh
  - choco install codecov
  - codecov -f coverage/coverage.xml

# The tests are run as part of the build.
test: off
