@page "/"

<h1>Noda Time in the browser</h1>

This is an experimental set of pages powered by <a href="https://github.com/aspnet/Blazor">Blazor</a>,
a framework for running C#/Razor in the browser using Web Assembly.
