
@{
    ViewData["Title"] = "Error";
}

<div class="row">
    <div class="large-12 columns">
        <h2>Error</h2>
        <p>
            Apologies, there appears to be a problem with the web site.
            If this persists, please file an issue on the <a href="https://github.com/nodatime/nodatime">GitHub repository</a>.
        </p>
    </div>
</div>
