@inject IReleaseRepository releases
@{
    ViewBag.Title = "Date and time API for .NET";
}

<div class="row section introduction">
    <div class="large-12 columns">
        <div class="logo">
            <h1>Noda <i class="foundicon-clock"></i> Time</h1>
        </div>
        <h2>A better date and time API for .NET</h2>
    </div>
</div>
<div class="row section usage">
    <div class="small-12 large-6 columns quote">
        <div class="comment unit">
            <h1>
                Noda Time is an alternative date and time API for .NET.
                It helps you to think about your data more clearly, and
                express operations on that data more precisely.
            </h1>
        </div>
    </div>
    <div class="hide-for-small large-6 columns">
        <div class="example unit">
            <p class="title">Examples (see <a href="/userguide/">User Guide</a>)</p>
            <div class="highlight">
<pre><code class="csharp">// Instant represents time from epoch
Instant now = SystemClock.Instance.GetCurrentInstant();

// Convert an instant to a ZonedDateTime
ZonedDateTime nowInIsoUtc = now.InUtc();

// Create a duration
Duration duration = Duration.FromMinutes(3);

// Add it to our ZonedDateTime
ZonedDateTime thenInIsoUtc = nowInIsoUtc + duration;

// Time zone support (multiple providers)
var london = DateTimeZoneProviders.Tzdb["Europe/London"];

// Time zone conversions
var localDate = new LocalDateTime(2012, 3, 27, 0, 45, 00);
var before = london.AtStrictly(localDate);
</code></pre>
            </div>
        </div>
    </div>
</div>
<div class="section installation" id="info">
    <div class="row">
        <div class="large-12 columns">
            <h1>More Info</h1>
        </div>
    </div>
    <div class="row">
        <div class="large-4 columns">
            <h3><i class="foundicon-globe"></i> Community</h3>
            <p>Find out more about Noda Time on our <a href="https://groups.google.com/group/noda-time">group mailing list</a> or our <a href="http://blog.nodatime.org/">blog</a>.  You can also <a href="https://gitter.im/nodatime/nodatime">chat with us on Gitter</a>.</p>
            <p>For more specific "How do I solve problem X?" questions, please ask on Stack Overflow using the <a href="https://stackoverflow.com/questions/tagged/nodatime">nodatime</a> tag.</p>
            <p>The <a href="https://github.com/nodatime/nodatime/issues">issue tracker</a> is hosted on the <a href="https://github.com/nodatime/nodatime">project's GitHub site</a>.
        </div>
        <div class="large-4 columns">
            <h3><i class="foundicon-page"></i> Documentation</h3>
            <p>It is recommended that you read at least the first few pages of the <a href="/userguide/">User Guide</a> before starting to develop using Noda Time.</p>
            <p>You can also check out the <a href="/api/">API reference</a>.</p>
            <p>Noda Time is licensed under the <a href="https://www.apache.org/licenses/LICENSE-2.0.html">Apache 2.0 license</a>.</p>
        </div>
        <div class="large-4 columns">
            <h3><i class="foundicon-add-doc"></i> Contributing</h3>
            <p>Developers interested in contributing to Noda Time itself should also check out the <a href="/developer/">Developer Guide</a> and <a href="/developer/roadmap">current roadmap</a>.</p>
            <p>If you just want the code, you can <a href="https://github.com/nodatime/nodatime">check it out from the repository</a>.
        </div>
    </div>
    <div class="row">
        <div class="large-12 columns">
            <h1>Installation</h1>
        </div>
    </div>
    <div class="row" id="install">
        <div class="large-6 columns">
            <h3><i class="foundicon-star"></i> NuGet</h3>
            <h6>Main library</h6>
            <div style="font-size: 0.8em;"><pre class="nuget-button">Install-Package NodaTime</pre></div>
            <h6>Useful when testing code</h6>
            <div style="font-size: 0.8em;"><pre class="nuget-button">Install-Package NodaTime.Testing</pre></div>
            <h6>Json.NET serialization</h6>
            <div style="font-size: 0.8em;"><pre class="nuget-button">Install-Package NodaTime.Serialization.JsonNet</pre></div>
        </div>
        <div class="large-6 columns">
            <h3><i class="foundicon-folder"></i> Manual downloads</h3>
            <h6>Source and binary archives are available for download</h6>
            <ul>
            @{
                var latest = releases.LatestRelease;
                <li>Latest stable binaries: <a href="@latest.DownloadUrl">@latest.File</a></li>
                @* TODO: Create a Release model that contains multiple files instead. *@
                <li>Latest stable source: <a href="@latest.DownloadUrl.Replace(".zip", "-src.zip")">@latest.File.Replace(".zip", "-src.zip")</a></li>
                <li><a href="downloads/">All downloads</a></li>
            }
            </ul>
        </div>
    </div>
</div>
