<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ZoneInfoCompilerW.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <ZoneInfoCompilerW.Properties.Settings>
            <setting name="WinmapFilePath" serializeAs="String">
                <value />
            </setting>
            <setting name="WinmapResourceOutputType" serializeAs="String">
                <value>ResX</value>
            </setting>
            <setting name="TzdbSourceDirectoryName" serializeAs="String">
                <value />
            </setting>
            <setting name="TzdbTargetFileName" serializeAs="String">
                <value />
            </setting>
            <setting name="TzdbResourceOutputType" serializeAs="String">
                <value>ResX</value>
            </setting>
        </ZoneInfoCompilerW.Properties.Settings>
    </userSettings>
</configuration>