body {
  font-family: Arial,Liberation Sans,DejaVu Sans,sans-serif;
  font-size: 90%
}

code {
  font-size: 110%
}

h1, h2 {
  font-family: Trebuchet MS,Liberation Sans,DejaVu Sans,sans-serif
}

table {
  border-collapse: collapse;
}

table thead {
  background-color: #e5e5e5
}

table td {
  border-width: 1px;
  border-color: black;
  border-style: solid;
  padding: 4px;
}

.navigation {
  font-style: italic;
}
.header {
  padding-bottom: 0.5em;
  border-bottom: 1px solid gray;
}
.footer {
  margin-top: 2em;
  border-top: 1px solid gray;
  padding-top: 0.5em;

  color: gray;
  background-color: white;
}
.navigation > p {
  margin: 0;
}
.navtitle {
  text-align: center;
}
.prev, .next { 
  width: 15em;
}
.prev {
  float: left;
  text-align: left;
}
.next {
  float: right;
  text-align: right;
}
