<configuration>
  <system.webServer>
     <staticContent>
        <!-- <mimeMap fileExtension=".eot" mimeType="application/vnd.ms-fontobject" /> -->
        <mimeMap fileExtension=".woff" mimeType="application/font-woff" />
        <mimeMap fileExtension=".otf" mimeType="application/x-font-opentype" />
     </staticContent>
  </system.webServer>
</configuration>

