body {
  font-family: Arial,Liberation Sans,DejaVu Sans,sans-serif;
  font-size: 90%
}

code {
  font-size: 110%
}

h1, h2 {
  font-family: Trebuchet MS,Liberation Sans,DejaVu Sans,sans-serif
}

table {
  border-collapse: collapse;
}

table thead {
  background-color: #e5e5e5
}

table td {
  border-width: 1px;
  border-color: black;
  border-style: solid;
  padding: 4px;
}
