/* Adapted from Vim 7.4's desert scheme. */
.highlight  { background: #3d3d3d; color: white; }
.highlight .k { color: khaki; font-weight: bold; } /* Keyword */
.highlight .c1 { color: skyblue } /* Comment.Single */
.highlight .kt { color: khaki; font-weight: bold; } /* Keyword.Type */
.highlight .m { color: #ffa0a0 } /* Literal.Number */
.highlight .s { color: #ffa0a0 } /* Literal.String */
.highlight .s1 { color: #ffa0a0 } /* Literal.String.Single */
.highlight .nf { color: palegreen } /* Name.Function */
.highlight .nn { color: palegreen } /* Name.Namespace */
